i.icon:before {
	content: '';
	display: block;
	width: 1em;
	height: 1em;
	background-position: center;
	background-repeat: no-repeat;
	@include background-size(contain);
}
i.icon.icon--wide:before {
	width: 1.35em;
}
// default
.icon-btn {
	&:hover, &.active {
		.icon-caret-right.icon--default:before {
			background-image: url('../icon/primary/caret-right.svg');
		}
		.icon-caret-left.icon--default:before {
			background-image: url('../icon/primary/caret-left.svg');
		}
		.icon-bookmark-outlined.icon--default:before {
			background-image: url('../icon/primary/bookmark-outlined.svg');
		}
		.icon-share.icon--default:before {
			background-image: url('../icon/primary/share.svg');
		}
		.icon-mail.icon--default:before {
			background-image: url('../icon/primary/mail.svg');
		}
		.icon-edit.icon--default:before {
			background-image: url('../icon/primary/edit.svg');
		}
		.icon-cancel.icon--default:before {
			background-image: url('../icon/primary/cancel.svg');
		}
		.icon-error-solid.icon--default:before {
			background-image: url('../icon/primary/error-solid.svg');
		}
		.icon-coin.icon--default:before {
			background-image: url('../icon/primary/coin.svg');
		}
		.icon-fontsize.icon--default:before {
			background-image: url('../icon/primary/fontsize.svg');
		}
		.icon-bookmark-filled.icon--default:before {
			background-image: url('../icon/primary/bookmark-filled.svg');
		}
		.icon-play.icon--default:before {
			background-image: url('../icon/primary/play.svg');
		}
		.icon-left.icon--default:before {
			background-image: url('../icon/primary/left.svg');
		}
		.icon-right.icon--default:before {
			background-image: url('../icon/primary/right.svg');
		}
		.icon-arrow-right.icon--default:before {
			background-image: url('../icon/primary/arrow-right.svg');
		}
		.icon-arrow-left.icon--default:before {
			background-image: url('../icon/primary/arrow-left.svg');
		}
		.icon-down.icon--default:before {
			background-image: url('../icon/primary/down.svg');
		}
		.icon-up.icon--default:before {
			background-image: url('../icon/primary/up.svg');
		}
		.icon-facebook.icon--default:before {
			background-image: url('../icon/primary/facebook.svg');
		}
		.icon-instagram.icon--default:before {
			background-image: url('../icon/primary/instagram.svg');
		}
		.icon-line.icon--default:before {
			background-image: url('../icon/primary/line.svg');
		}
		.icon-rss.icon--default:before {
			background-image: url('../icon/primary/rss.svg');
		}
		.icon-search.icon--default:before {
			background-image: url('../icon/primary/search.svg');
		}
		.icon-user-filled.icon--default:before {
			background-image: url('../icon/primary/user-filled.svg');
		}
		.icon-user-outlined.icon--default:before {
			background-image: url('../icon/primary/user-outlined.svg');
		}
		.icon-logo-text.icon--default:before {
			background-image: url('../icon/primary/logo-text.svg');
		}
		.icon-logo.icon--default:before {
			background-image: url('../icon/primary/logo.svg');
		}
		.icon-menu.icon--default:before {
			background-image: url('../icon/primary/menu.svg');
		}
		.icon-message.icon--default:before {
			background-image: url('../icon/primary/message.svg');
		}
		.icon-selection.icon--default:before {
			background-image: url('../icon/primary/selection.svg');
		}
		.icon-list.icon--default:before {
			background-image: url('../icon/primary/list.svg');
		}
		.icon-caret-down.icon--default:before {
			background-image: url('../icon/primary/caret-down.svg');
		}
		.icon-caret-up.icon--default:before {
			background-image: url('../icon/primary/caret-up.svg');
		}
		.icon-sort.icon--default:before {
			background-image: url('../icon/primary/sort.svg');
		}
		.icon-check-circle.icon--default:before {
			background-image: url('../icon/primary/check-circle.svg');
		}
		.icon-check.icon--default:before {
			background-image: url('../icon/primary/check.svg');
		}
		.icon-check-solid.icon--default:before {
			background-image: url('../icon/primary/check-solid.svg');
		}
		.icon-copy.icon--default:before {
			background-image: url('../icon/primary/copy.svg');
		}
		.icon-quote-left.icon--default:before {
			background-image: url('../icon/primary/quote-left.svg');
		}
		.icon-quote-right.icon--default:before {
			background-image: url('../icon/primary/quote-right.svg');
		}
		.icon-exclamation-circle.icon--default:before {
			background-image: url('../icon/primary/exclamation-circle.svg');
		}
		.icon-question-circle.icon--default:before {
			background-image: url('../icon/primary/question-circle.svg');
		}
		.icon-eyeoff.icon--default:before {
			background-image: url('../icon/primary/eyeoff.svg');
		}
		.icon-eyeon.icon--default:before {
			background-image: url('../icon/primary/eyeon.svg');
		}
		.icon-phrase.icon--default:before {
			background-image: url('../icon/primary/phrase.svg');
		}
		.icon-button.icon--default:before {
			background-image: url('../icon/primary/button.svg');
		}
		.icon-color.icon--default:before {
			background-image: url('../icon/primary/color.svg');
		}
		.icon-iconography.icon--default:before {
			background-image: url('../icon/primary/iconography.svg');
		}
		.icon-textfield.icon--default:before {
			background-image: url('../icon/primary/textfield.svg');
		}
		.icon-navigation.icon--default:before {
			background-image: url('../icon/primary/navigation.svg');
		}
		.icon-tabs.icon--default:before {
			background-image: url('../icon/primary/tabs.svg');
		}
		.icon-tooltips.icon--default:before {
			background-image: url('../icon/primary/tooltips.svg');
		}
		.icon-typography.icon--default:before {
			background-image: url('../icon/primary/typography.svg');
		}
	}
}
.icon-caret-right.icon--default {
	&:before {
		background-image: url('../icon/default/caret-right.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/caret-right.svg');
		}
	}
}
.icon-caret-left.icon--default {
	&:before {
		background-image: url('../icon/default/caret-left.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/caret-left.svg');
		}
	}
}
.icon-bookmark-outlined.icon--default {
	&:before {
		background-image: url('../icon/default/bookmark-outlined.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/bookmark-outlined.svg');
		}
	}
}
.icon-share.icon--default {
	&:before {
		background-image: url('../icon/default/share.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/share.svg');
		}
	}
}
.icon-mail.icon--default {
	&:before {
		background-image: url('../icon/default/mail.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/mail.svg');
		}
	}
}
.icon-edit.icon--default {
	&:before {
		background-image: url('../icon/default/edit.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/edit.svg');
		}
	}
}
.icon-cancel.icon--default {
	&:before {
		background-image: url('../icon/default/cancel.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/cancel.svg');
		}
	}
}
.icon-error-solid.icon--default {
	&:before {
		background-image: url('../icon/default/error-solid.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/error-solid.svg');
		}
	}
}
.icon-coin.icon--default {
	&:before {
		background-image: url('../icon/default/coin.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/coin.svg');
		}
	}
}
.icon-fontsize.icon--default {
	&:before {
		background-image: url('../icon/default/fontsize.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/fontsize.svg');
		}
	}
}
.icon-bookmark-filled.icon--default {
	&:before {
		background-image: url('../icon/default/bookmark-filled.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/bookmark-filled.svg');
		}
	}
}
.icon-play.icon--default {
	&:before {
		background-image: url('../icon/default/play.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/play.svg');
		}
	}
}
.icon-left.icon--default {
	&:before {
		background-image: url('../icon/default/left.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/left.svg');
		}
	}
}
.icon-right.icon--default {
	&:before {
		background-image: url('../icon/default/right.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/right.svg');
		}
	}
}
.icon-arrow-right.icon--default {
	&:before {
		background-image: url('../icon/default/arrow-right.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/arrow-right.svg');
		}
	}
}
.icon-arrow-left.icon--default {
	&:before {
		background-image: url('../icon/default/arrow-left.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/arrow-left.svg');
		}
	}
}
.icon-down.icon--default {
	&:before {
		background-image: url('../icon/default/down.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/down.svg');
		}
	}
}
.icon-up.icon--default {
	&:before {
		background-image: url('../icon/default/up.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/up.svg');
		}
	}
}
.icon-facebook.icon--default {
	&:before {
		background-image: url('../icon/default/facebook.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/brand/facebook.svg');
		}
	}
}
.icon-instagram.icon--default {
	&:before {
		background-image: url('../icon/default/instagram.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/brand/instagram.svg');
		}
	}
}
.icon-line.icon--default {
	&:before {
		background-image: url('../icon/default/line.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/brand/line.svg');
		}
	}
}
.icon-rss.icon--default {
	&:before {
		background-image: url('../icon/default/rss.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/brand/rss.svg');
		}
	}
}
.icon-search.icon--default {
	&:before {
		background-image: url('../icon/default/search.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/search.svg');
		}
	}
}
.icon-user-filled.icon--default {
	&:before {
		background-image: url('../icon/default/user-filled.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/user-filled.svg');
		}
	}
}
.icon-user-outlined.icon--default {
	&:before {
		background-image: url('../icon/default/user-outlined.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/user-outlined.svg');
		}
	}
}
.icon-logo-text.icon--default {
	&:before {
		background-image: url('../icon/default/logo-text.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/logo-text.svg');
		}
	}
}
.icon-logo.icon--default {
	&:before {
		background-image: url('../icon/default/logo.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/logo.svg');
		}
	}
}
.icon-menu.icon--default {
	&:before {
		background-image: url('../icon/default/menu.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/menu.svg');
		}
	}
}
.icon-message.icon--default {
	&:before {
		background-image: url('../icon/default/message.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/message.svg');
		}
	}
}
.icon-selection.icon--default {
	&:before {
		background-image: url('../icon/default/selection.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/selection.svg');
		}
	}
}
.icon-list.icon--default {
	&:before {
		background-image: url('../icon/default/list.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/list.svg');
		}
	}
}
.icon-caret-down.icon--default {
	&:before {
		background-image: url('../icon/default/caret-down.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/caret-down.svg');
		}
	}
}
.icon-caret-up.icon--default {
	&:before {
		background-image: url('../icon/default/caret-up.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/caret-up.svg');
		}
	}
}
.icon-sort.icon--default {
	&:before {
		background-image: url('../icon/default/sort.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/sort.svg');
		}
	}
}
.icon-check-circle.icon--default {
	&:before {
		background-image: url('../icon/default/check-circle.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/check-circle.svg');
		}
	}
}
.icon-check.icon--default {
	&:before {
		background-image: url('../icon/default/check.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/check.svg');
		}
	}
}
.icon-check-solid.icon--default {
	&:before {
		background-image: url('../icon/default/check-solid.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/check-solid.svg');
		}
	}
}
.icon-copy.icon--default {
	&:before {
		background-image: url('../icon/default/copy.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/copy.svg');
		}
	}
}
.icon-quote-left.icon--default {
	&:before {
		background-image: url('../icon/default/quote-left.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/quote-left.svg');
		}
	}
}
.icon-quote-right.icon--default {
	&:before {
		background-image: url('../icon/default/quote-right.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/quote-right.svg');
		}
	}
}
.icon-exclamation-circle.icon--default {
	&:before {
		background-image: url('../icon/default/exclamation-circle.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/exclamation-circle.svg');
		}
	}
}
.icon-question-circle.icon--default {
	&:before {
		background-image: url('../icon/default/question-circle.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/question-circle.svg');
		}
	}
}
.icon-eyeoff.icon--default {
	&:before {
		background-image: url('../icon/default/eyeoff.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/eyeoff.svg');
		}
	}
}
.icon-eyeon.icon--default {
	&:before {
		background-image: url('../icon/default/eyeon.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/eyeon.svg');
		}
	}
}
.icon-phrase.icon--default {
	&:before {
		background-image: url('../icon/default/phrase.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/phrase.svg');
		}
	}
}
.icon-button.icon--default {
	&:before {
		background-image: url('../icon/default/button.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/button.svg');
		}
	}
}
.icon-color.icon--default {
	&:before {
		background-image: url('../icon/default/color.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/color.svg');
		}
	}
}
.icon-iconography.icon--default {
	&:before {
		background-image: url('../icon/default/iconography.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/iconography.svg');
		}
	}
}
.icon-textfield.icon--default {
	&:before {
		background-image: url('../icon/default/textfield.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/textfield.svg');
		}
	}
}
.icon-navigation.icon--default {
	&:before {
		background-image: url('../icon/default/navigation.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/navigation.svg');
		}
	}
}
.icon-tabs.icon--default {
	&:before {
		background-image: url('../icon/default/tabs.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/tabs.svg');
		}
	}
}
.icon-tooltips.icon--default {
	&:before {
		background-image: url('../icon/default/tooltips.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/tooltips.svg');
		}
	}
}
.icon-typography.icon--default {
	&:before {
		background-image: url('../icon/default/typography.svg');
	}
	&:hover, &.active {
		&:before {
			background-image: url('../icon/primary/typography.svg');
		}
	}
}

// white
.icon-caret-right.icon--white:before {
	background-image: url('../icon/white/caret-right.svg');
}
.icon-caret-left.icon--white:before {
	background-image: url('../icon/white/caret-left.svg');
}
.icon-bookmark-outlined.icon--white:before {
	background-image: url('../icon/white/bookmark-outlined.svg');
}
.icon-share.icon--white:before {
	background-image: url('../icon/white/share.svg');
}
.icon-mail.icon--white:before {
	background-image: url('../icon/white/mail.svg');
}
.icon-edit.icon--white:before {
	background-image: url('../icon/white/edit.svg');
}
.icon-cancel.icon--white:before {
	background-image: url('../icon/white/cancel.svg');
}
.icon-error-solid.icon--white:before {
	background-image: url('../icon/white/error-solid.svg');
}
.icon-coin.icon--white:before {
	background-image: url('../icon/white/coin.svg');
}
.icon-fontsize.icon--white:before {
	background-image: url('../icon/white/fontsize.svg');
}
.icon-bookmark-filled.icon--white:before {
	background-image: url('../icon/white/bookmark-filled.svg');
}
.icon-play.icon--white:before {
	background-image: url('../icon/white/play.svg');
}
.icon-left.icon--white:before {
	background-image: url('../icon/white/left.svg');
}
.icon-right.icon--white:before {
	background-image: url('../icon/white/right.svg');
}
.icon-arrow-right.icon--white:before {
	background-image: url('../icon/white/arrow-right.svg');
}
.icon-arrow-left.icon--white:before {
	background-image: url('../icon/white/arrow-left.svg');
}
.icon-down.icon--white:before {
	background-image: url('../icon/white/down.svg');
}
.icon-up.icon--white:before {
	background-image: url('../icon/white/up.svg');
}
.icon-facebook.icon--white:before {
	background-image: url('../icon/white/facebook.svg');
}
.icon-instagram.icon--white:before {
	background-image: url('../icon/white/instagram.svg');
}
.icon-line.icon--white:before {
	background-image: url('../icon/white/line.svg');
}
.icon-rss.icon--white:before {
	background-image: url('../icon/white/rss.svg');
}
.icon-search.icon--white:before {
	background-image: url('../icon/white/search.svg');
}
.icon-user-filled.icon--white:before {
	background-image: url('../icon/white/user-filled.svg');
}
.icon-user-outlined.icon--white:before {
	background-image: url('../icon/white/user-outlined.svg');
}
.icon-logo-text.icon--white:before {
	background-image: url('../icon/white/logo-text.svg');
}
.icon-logo.icon--white:before {
	background-image: url('../icon/white/logo.svg');
}
.icon-menu.icon--white:before {
	background-image: url('../icon/white/menu.svg');
}
.icon-message.icon--white:before {
	background-image: url('../icon/white/message.svg');
}
.icon-selection.icon--white:before {
	background-image: url('../icon/white/selection.svg');
}
.icon-list.icon--white:before {
	background-image: url('../icon/white/list.svg');
}
.icon-caret-down.icon--white:before {
	background-image: url('../icon/white/caret-down.svg');
}
.icon-caret-up.icon--white:before {
	background-image: url('../icon/white/caret-up.svg');
}
.icon-sort.icon--white:before {
	background-image: url('../icon/white/sort.svg');
}
.icon-check-circle.icon--white:before {
	background-image: url('../icon/white/check-circle.svg');
}
.icon-check.icon--white:before {
	background-image: url('../icon/white/check.svg');
}
.icon-check-solid.icon--white:before {
	background-image: url('../icon/white/check-solid.svg');
}
.icon-copy.icon--white:before {
	background-image: url('../icon/white/copy.svg');
}
.icon-quote-left.icon--white:before {
	background-image: url('../icon/white/quote-left.svg');
}
.icon-quote-right.icon--white:before {
	background-image: url('../icon/white/quote-right.svg');
}
.icon-exclamation-circle.icon--white:before {
	background-image: url('../icon/white/exclamation-circle.svg');
}
.icon-question-circle.icon--white:before {
	background-image: url('../icon/white/question-circle.svg');
}
.icon-eyeoff.icon--white:before {
	background-image: url('../icon/white/eyeoff.svg');
}
.icon-eyeon.icon--white:before {
	background-image: url('../icon/white/eyeon.svg');
}
.icon-phrase.icon--white:before {
	background-image: url('../icon/white/phrase.svg');
}
.icon-button.icon--white:before {
	background-image: url('../icon/white/button.svg');
}
.icon-color.icon--white:before {
	background-image: url('../icon/white/color.svg');
}
.icon-iconography.icon--white:before {
	background-image: url('../icon/white/iconography.svg');
}
.icon-textfield.icon--white:before {
	background-image: url('../icon/white/textfield.svg');
}
.icon-navigation.icon--white:before {
	background-image: url('../icon/white/navigation.svg');
}
.icon-tabs.icon--white:before {
	background-image: url('../icon/white/tabs.svg');
}
.icon-tooltips.icon--white:before {
	background-image: url('../icon/white/tooltips.svg');
}
.icon-typography.icon--white:before {
	background-image: url('../icon/white/typography.svg');
}

// secondary
.icon-caret-right.icon--secondary:before {
	background-image: url('../icon/secondary/caret-right.svg');
}
.icon-caret-left.icon--secondary:before {
	background-image: url('../icon/secondary/caret-left.svg');
}
.icon-bookmark-outlined.icon--secondary:before {
	background-image: url('../icon/secondary/bookmark-outlined.svg');
}
.icon-share.icon--secondary:before {
	background-image: url('../icon/secondary/share.svg');
}
.icon-mail.icon--secondary:before {
	background-image: url('../icon/secondary/mail.svg');
}
.icon-edit.icon--secondary:before {
	background-image: url('../icon/secondary/edit.svg');
}
.icon-cancel.icon--secondary:before {
	background-image: url('../icon/secondary/cancel.svg');
}
.icon-error-solid.icon--secondary:before {
	background-image: url('../icon/secondary/error-solid.svg');
}
.icon-coin.icon--secondary:before {
	background-image: url('../icon/secondary/coin.svg');
}
.icon-fontsize.icon--secondary:before {
	background-image: url('../icon/secondary/fontsize.svg');
}
.icon-bookmark-filled.icon--secondary:before {
	background-image: url('../icon/secondary/bookmark-filled.svg');
}
.icon-play.icon--secondary:before {
	background-image: url('../icon/secondary/play.svg');
}
.icon-left.icon--secondary:before {
	background-image: url('../icon/secondary/left.svg');
}
.icon-right.icon--secondary:before {
	background-image: url('../icon/secondary/right.svg');
}
.icon-arrow-right.icon--secondary:before {
	background-image: url('../icon/secondary/arrow-right.svg');
}
.icon-arrow-left.icon--secondary:before {
	background-image: url('../icon/secondary/arrow-left.svg');
}
.icon-down.icon--secondary:before {
	background-image: url('../icon/secondary/down.svg');
}
.icon-up.icon--secondary:before {
	background-image: url('../icon/secondary/up.svg');
}
.icon-facebook.icon--secondary:before {
	background-image: url('../icon/secondary/facebook.svg');
}
.icon-instagram.icon--secondary:before {
	background-image: url('../icon/secondary/instagram.svg');
}
.icon-line.icon--secondary:before {
	background-image: url('../icon/secondary/line.svg');
}
.icon-rss.icon--secondary:before {
	background-image: url('../icon/secondary/rss.svg');
}
.icon-search.icon--secondary:before {
	background-image: url('../icon/secondary/search.svg');
}
.icon-user-filled.icon--secondary:before {
	background-image: url('../icon/secondary/user-filled.svg');
}
.icon-user-outlined.icon--secondary:before {
	background-image: url('../icon/secondary/user-outlined.svg');
}
.icon-logo-text.icon--secondary:before {
	background-image: url('../icon/secondary/logo-text.svg');
}
.icon-logo.icon--secondary:before {
	background-image: url('../icon/secondary/logo.svg');
}
.icon-menu.icon--secondary:before {
	background-image: url('../icon/secondary/menu.svg');
}
.icon-message.icon--secondary:before {
	background-image: url('../icon/secondary/message.svg');
}
.icon-selection.icon--secondary:before {
	background-image: url('../icon/secondary/selection.svg');
}
.icon-list.icon--secondary:before {
	background-image: url('../icon/secondary/list.svg');
}
.icon-caret-down.icon--secondary:before {
	background-image: url('../icon/secondary/caret-down.svg');
}
.icon-caret-up.icon--secondary:before {
	background-image: url('../icon/secondary/caret-up.svg');
}
.icon-sort.icon--secondary:before {
	background-image: url('../icon/secondary/sort.svg');
}
.icon-check-circle.icon--secondary:before {
	background-image: url('../icon/secondary/check-circle.svg');
}
.icon-check.icon--secondary:before {
	background-image: url('../icon/secondary/check.svg');
}
.icon-check-solid.icon--secondary:before {
	background-image: url('../icon/secondary/check-solid.svg');
}
.icon-copy.icon--secondary:before {
	background-image: url('../icon/secondary/copy.svg');
}
.icon-quote-left.icon--secondary:before {
	background-image: url('../icon/secondary/quote-left.svg');
}
.icon-quote-right.icon--secondary:before {
	background-image: url('../icon/secondary/quote-right.svg');
}
.icon-exclamation-circle.icon--secondary:before {
	background-image: url('../icon/secondary/exclamation-circle.svg');
}
.icon-question-circle.icon--secondary:before {
	background-image: url('../icon/secondary/question-circle.svg');
}
.icon-eyeoff.icon--secondary:before {
	background-image: url('../icon/secondary/eyeoff.svg');
}
.icon-eyeon.icon--secondary:before {
	background-image: url('../icon/secondary/eyeon.svg');
}
.icon-phrase.icon--secondary:before {
	background-image: url('../icon/secondary/phrase.svg');
}
.icon-button.icon--secondary:before {
	background-image: url('../icon/secondary/button.svg');
}
.icon-color.icon--secondary:before {
	background-image: url('../icon/secondary/color.svg');
}
.icon-iconography.icon--secondary:before {
	background-image: url('../icon/secondary/iconography.svg');
}
.icon-textfield.icon--secondary:before {
	background-image: url('../icon/secondary/textfield.svg');
}
.icon-navigation.icon--secondary:before {
	background-image: url('../icon/secondary/navigation.svg');
}
.icon-tabs.icon--secondary:before {
	background-image: url('../icon/secondary/tabs.svg');
}
.icon-tooltips.icon--secondary:before {
	background-image: url('../icon/secondary/tooltips.svg');
}
.icon-typography.icon--secondary:before {
	background-image: url('../icon/secondary/typography.svg');
}