@import "_font";
.icon-btn {
	display: inline-flex;
	padding: 2px 0 0;
	width: 30px;
	height: 40px;
	font-size: 1.125rem;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&-center {
		justify-content: center;
	}
	@include breakpoint(768px) {
		width: 40px;
		height: 60px;
	}
	@include breakpoint(1024px) {
		transition: color .3s, background-color .3s;
	}
}
.navi-btn {
	color: $surface;
	&:hover, &.active {
		font-weight: bold;
	}
}