@charset "UTF-8";
@import 'normalize-version';
@import 'normalize/html5';
@import 'normalize/base';
@import 'normalize/links';
// @import 'normalize/typography';
@import 'normalize/embeds';
@import 'normalize/groups';
@import 'normalize/forms';
@import 'normalize/tables';
@import "Compass";
@import "breakpoint";
%before-after {
	content: '';
	display: block;
}
@mixin text-fill-color($color) {
	-moz-text-fill-color: $color;
	-ms-text-fill-color: $color;
	-webkit-text-fill-color: $color;
	text-fill-color: $color;
}
%list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}
%ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
ul, ol {
	// padding-left: 1.5em;
	padding-left: 1.15em;
}
.mtb0 {
	margin-top: 0;
	margin-bottom: 0;
}
.mt0-mb1 {
	margin-top: 0;
	margin-bottom: 1em !important;
}
.mt0-mb05 {
	margin-top: 0;
	margin-bottom: 0.5em;
}
.mb0 {
	margin-bottom: 0;
}
.mt0 {
	margin-top: 0;
}
.mt40 {
	margin-top: 40px;
}
.list-reset {
	@extend %list-reset;
}
.justify-between {
	justify-content: space-between;
}
.flex {
	@include breakpoint(768px) {
		&-md {
			display: flex;
		}
	}
	@include breakpoint(1024px) {
		&-lg {
			display: flex;
		}
	}
	@include breakpoint(1280px) {
		&-xl {
			display: flex;
		}
	}
}